/* GENERAL--------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Frank+Ruhl+Libre:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Domine:wght@400..700&family=Frank+Ruhl+Libre:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --gradient-color: conic-gradient(from 90deg at 100% 0%, #000413, 50%, #020729, #020121);
    --dark-color: #020729;
    --dark-color-bg: #020121;
    --navbar-color: conic-gradient(from 90deg at 50% 0%, #468eec, 30%, #3b86e8, #307de1);
    --active-color: rgba(0, 0, 0, 0.856);
    --font-color: #7a91b0;
    --unique-color-1: #ff3e3e;
    --unique-color-2: #3eff85;
    --unique-color-3: #ff3ef5;
    --unique-color-4: #ffe23e;
    --unique-color-5: #983eff;
    --unique-color-6: #3ea8ff;

    --font-DM: 'DM Serif Display', serif;
    --font-FRL: 'Frank Ruhl Libre, serif';
    --font-DOM: 'Domine, serif';
}

/* Unhide it later if needed */
*{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.background-container{
    background: var(--gradient-color);
    color: var(--font-color);
    height: 100vh;
    width: 100%;
    font-family: var(--font-DOM);
}

.background-container h1{
    font-family: var(--font-DM);
}

/* NAVBAR--------------------------------------------------------------------------------------- */

#navbar-overides{
    background: var(--dark-color-bg) !important;
    transition: background 0.6s ease-out;
    box-shadow: 0 5px 10px rgba(218, 227, 251, 0.05);  
    font-family: var(--font-DOM);
}

#navbar-overides:hover{
    background: var(--font-color) !important;
    box-shadow: 0 5px 10px rgba(173, 192, 243, 0.3);
}

#navbar-overides:hover .nav-link, #navbar-overides:hover a{
    color: var(--dark-color);
}

#bootstrap-overides-nav .nav-link , #bootstrap-overides-nav .navbar-brand{
    color: var(--font-color);
}

#bootstrap-overides-nav .active {
    color: var(--font-color);
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

#bootstrap-overides-nav .active::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: var(--font-color);
}

#bootstrap-overides-nav .active:hover::after{
    background-color: var(--dark-color);
}

/* HOME--------------------------------------------------------------------------------------- */

#bootstrap-overides-home{
    width: 100%;
    height: 100vh;
}

#carouselExampleCaptions{
    width: 100%;
    height: 100%;
    border-top: 5px solid var(--dark-color);
    border-bottom: 5px solid var(--dark-color);
    border-left: 5px solid var(--dark-color);
}

#bootstrap-overides-home #carouselExampleCaptions h5, 
#bootstrap-overides-home #carouselExampleCaptions p{
    color: var(--font-color);
}

#bootstrap-overides-home #carouselExampleCaptions h5{
    font-weight: bold;
}

#bootstrap-overides-home .bg-primary{
    background-color: var(--font-color) !important;
}

#bootstrap-overides-home #button{
    background-color: var(--font-color);
}

#bootstrap-overides-home .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='983eff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
#bootstrap-overides-home .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='983eff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#bootstrap-overides-home #col2{
    text-align: left;
    margin-top: calc(100% - 98%);
}

/* Experience--------------------------------------------------------------------------------------- */

#bootstrap-overides-experience .col-6{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 5px solid var(--font-color);
    padding-left: calc(100vw - 89%);
    padding-right: calc(100vw - 89%);
    padding-top: calc(100vh - 68%);
    padding-bottom: calc(100vh - 68%);
    
    margin-top: calc(100vh - 75%);
}

#bootstrap-overides-experience #boxes{
    display: flex;
    justify-content: center;
    align-items: center;
}


#bootstrap-overides-experience #box-right-1, #bootstrap-overides-experience #box-right-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(100vw - 109%);
}

#bootstrap-overides-experience #box-left-1, #bootstrap-overides-experience #box-right-1{
    margin-top: 5%;
}

#bootstrap-overides-experience .box{
    background: var(--font-color);
    border: 5px solid var(--dark-color);
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(218, 227, 251, 0.20);
    text-align: center;
    transition: all 0.4s ease;
    color: var(--dark-color);
}

#bootstrap-overides-experience .box:hover{
    background-color: var(--dark-color-bg);
    color: var(--font-color);
    border: 2px solid var(--font-color);
    transform: scale(0.95);
}

/* Projects--------------------------------------------------------------------------------------- */
#bootstrap-overides-projects{
    height:auto;
    overflow: hidden;
}

#bootstrap-overides-projects p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: calc(100vh - 65%);
}

#bootstrap-overides-projects #boxes-group{
    padding: 10px;
}


#bootstrap-overides-projects .box{
    padding-left: calc(100vw - 89%);
    padding-right: calc(100vw - 89%);
    padding-top: calc(100vh - 68%);
    padding-bottom: calc(100vh - 68%);
    margin-bottom: 5px;
    border: 5px solid var(--dark-color);
    background-color: var(--font-color);
    color: var(--dark-color);
    border-radius: 15px;
    box-shadow: 1px 0 10px 5px rgba(218, 227, 251, 0.25);
    text-align: center;
    transition: all 0.4s ease;
}

#bootstrap-overides-projects .box:hover{
    background-color: var(--dark-color-bg);
    color: var(--font-color);
    border: 2px solid var(--font-color);
    transform: scale(0.95);
}

/* Quotes--------------------------------------------------------------------------------------- */
#bootstrap-overides-quotes{
    overflow: hidden;
    background-image: url('../../assets/cinema-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.85);
    width: 100%;
    height: 100vh;
    margin: 0;
}

#bootstrap-overides-quotes .inside-text{
    color: var(--font-color);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: calc(100% - 90%);
    margin-left: calc(100% - 90%);
    margin-top: calc(100% - 88%);
}

#bootstrap-overides-quotes p{
    display: flex;
    align-items: center;
    justify-content: center;
}

#bootstrap-overides-quotes .typewriter{
    display: flex;
    font-size: 3.5rem;
}

@media (max-width: 1125px){
    #bootstrap-overides-quotes .inside-text{
        width: 99%;
        margin-top: calc(100% - 80%);
    }
    #bootstrap-overides-quotes .typewriter{
        font-size: 2.8rem;
    }
}
@media (max-width: 800px){
    #bootstrap-overides-quotes .inside-text{
        width: 99%;
        margin-top: calc(100% - 70%);
    }
    #bootstrap-overides-quotes .typewriter{
        font-size: 2.5rem;
    }
}

